<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.step17httprequest">
    <!--
        앱을 만들 때
        1. 비용이 발생하는 작업 (인터넷, 전화 등)
        2. 배터리를 많이 소모하는 작업 (진동)
        3. 개인정보를 얻어내는 작업 (연락처 정보, 갤러리 등)
        4. 외부 저장장치 (sdcard) 를 access 하는 작업
        등은 모두 permission(허가) 을 얻어내야 한다.

        <uses-permission android:name="android.permission.INTERNET"/> = 인터넷을 사용하기 위해 퍼미션을 얻어냄.
        android:usesCleartextTraffic="true" = http 요청을 가능하게 할 것인지
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hello"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>