<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.step14sharedpref">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hello">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.step14sharedpref.MainActivity"/>
        </activity>
        <!--
            meta-data up button을 눌렀을 때 어디로 이동하게 할지 설정.
            name="android.support.PARENT_ACTIVITY" (원래 설정하면 자동설정됨.)
            부모 액티비티 설정
        -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Hello">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>